/* Reset */
@import 'reset.css';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	box-sizing: border-box;
	font-size: 16px;
	color: #252525; /* Tailwind black */
}
html,
body {
	height: 100%;
	width: 100%;
}

/* Typography */
h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 4rem;
	letter-spacing: -1px;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 2.5rem;
	letter-spacing: -0.75px;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 1.5rem;
	letter-spacing: -0.25px;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0;
	line-height: 150%;
}

strong {
	font-weight: 700;
}

small {
	font-size: 0.875rem;
}

button {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 0.875rem;
	letter-spacing: 0.75px;
}

/* Waves */
.wave {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: calc(100vw + 100px);
	margin-top: calc(-100vw);
	border-radius: 55%;
	background: #1f5577;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}

.wave.-top {
	animation: rotate 7000ms infinite linear;
	margin-left: -1200;
	opacity: 0.8;
}
.wave.-mid {
	animation: rotate 9000ms infinite linear;
	opacity: 0.7;
	opacity: 0.5;
}
.wave.-bottom {
	animation: rotate 12000ms infinite linear;
	margin-left: -1200;
	opacity: 0.7;
}
